$frangipani: #ffe1bb;
$fiord: #3e4b6e;
$wedgewood: #517dae;
$portGoreapprox: #1d2043;
$gullGrayapprox: #9cacbc;

.bg-color-frangipani {
	background: $frangipani;
}

.bg-color-fiord {
	background: $fiord;
}

.bg-color-wedgewood {
	background: $wedgewood;
}

.bg-color-portGoreapprox {
	background: $portGoreapprox;
}

.bg-color-gullGrayapprox {
	background: $gullGrayapprox;
}


