.bg-color-frangipani {
  background: #ffe1bb; }

.bg-color-fiord {
  background: #3e4b6e; }

.bg-color-wedgewood {
  background: #517dae; }

.bg-color-portGoreapprox {
  background: #1d2043; }

.bg-color-gullGrayapprox {
  background: #9cacbc; }
