.version3 .box {
  border-radius: 6px; }

.version3 .bg-color-frangipani {
  background: #ffe1bb; }

.version3 .bg-color-fiord {
  background: #3e4b6e; }

.version3 .bg-color-wedgewood {
  background: #517dae; }

.version3 .bg-color-portGoreapprox {
  background: #1d2043; }

.version3 .bg-color-gullGrayapprox {
  background: #9cacbc; }
