.version1 .box1 {
  border-radius: 6px;
  background: #ffe1bb; }

.version1 .box2 {
  background: none; }

.version1 .box3 {
  border-radius: 6px;
  background: #3e4b6e; }

.version1 .box4 {
  background: none; }

.version1 .box5 {
  border-radius: 6px;
  background: #517dae; }

.version1 .box6 {
  border-radius: 6px;
  background: #ffe1bb; }

.version1 .box7 {
  background: none; }

.version1 .box8 {
  background: none; }

.version1 .box9 {
  border-radius: 6px;
  background: #1d2043; }

.version1 .box10 {
  background: none; }

.version1 .box11 {
  border-radius: 6px;
  background: #517dae; }

.version1 .box12 {
  border-radius: 6px;
  background: #ffe1bb; }

.version1 .box13 {
  border-radius: 6px;
  background: #9cacbc; }

.version1 .box14 {
  border-radius: 6px;
  background: #1d2043; }

.version1 .box15 {
  background: none; }

.version1 .box16 {
  border-radius: 6px;
  background: #517dae; }

.version1 .box17 {
  border-radius: 6px;
  background: #3e4b6e; }

.version1 .box18 {
  background: none; }

.version1 .box19 {
  border-radius: 6px;
  background: #9cacbc; }

.version1 .box20 {
  border-radius: 6px;
  background: #1d2043; }

.version1 .box21 {
  background: none; }

.version1 .box22 {
  border-radius: 6px;
  background: #3e4b6e; }

.version1 .box23 {
  border-radius: 6px;
  background: #517dae; }

.version1 .box24 {
  border-radius: 6px;
  background: #9cacbc; }

.version1 .box25 {
  border-radius: 6px;
  background: #1d2043; }

.version1 .box26 {
  border-radius: 6px;
  background: #ffe1bb; }

.version1 .box27 {
  background: none; }

.version1 .box28 {
  border-radius: 6px;
  background: #3e4b6e; }

.version1 .box29 {
  background: none; }

.version1 .box30 {
  border-radius: 6px;
  background: #517dae; }

.version1 .box31 {
  border-radius: 6px;
  background: #ffe1bb; }

.version1 .box32 {
  background: none; }

.version1 .box33 {
  border-radius: 6px;
  background: #3e4b6e; }

.version1 .box34 {
  background: none; }

.version1 .box35 {
  border-radius: 6px;
  background: #9cacbc; }

.version1 .box36 {
  background: none; }
